:root {
    --color-primary: #F6F9FD;
    --color-primary-light: #FAFCFE;
    --color-primary-dark: #EAF0F8;
    
    --color-secondary: #0D53FC; 
    --color-secondary-dark: #0044E9;

    --color-red: #fc114c;
    
    --color-light-1: #FFF; 
    --color-light-3: #989EA9;

    --color-dark-1: #2B323B;
    --color-dark-2: #3F3B3F;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-dark-1);
    background-color: var(--color-primary-dark);
}

// 1385 ==> 100%                1200px

// 415 ==> sidebar 30%          360px 30%
// 854 ==> main 62%             744px 62%
// 116 ==> header 8%            96px 8%

// 677 ==> appointement 50%     600px 50% ( 80% of main )
// 122 ==> appoi height 8.8%