.container {
    max-width: 120rem;
    height: 79rem;
    margin: 8rem auto;
    background-color: var(--color-primary);
    box-shadow: var(--shadow-dark);

    display: flex;
}

.header {
    width: 8%;
    height: 100%;
    padding: 2.8rem 0;
    background-color: var(--color-light-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main {
    width: 62%;
    height: 100%;
    padding: 4rem 0;
    // border-right: var(--border-light);
}

.sidebar {
    width: 30%;
    height: 100%;
    padding: 3rem;
    background-color: var(--color-primary-light);
}

.section {
    width: 85%;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

// 1385 ==> 100%                1200px

// 415 ==> sidebar 30%          360px 30%
// 854 ==> main 62%             744px 62%
// 116 ==> header 8%            96px 8%

// 677 ==> appointement 50%     600px 50% ( 80% of main )
// 122 ==> appoi height 8.8%