.container {
    max-width: 120rem;
    height: 80rem;
    margin: 8rem auto;
    background-color: var(--color-primary);

    display: flex;
}

.header {
    width: 8%;
    height: 100%;
    padding: 2.8rem 0;
    background-color: var(--color-light-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main {
    width: 62%;
    height: 100%;
}

.sidebar {
    width: 30%;
    height: 100%;
    background-color: var(--color-primary-light);
}